{{#section "head"}}
	<meta name="robots" content="noindex">
{{/section}}
<h1>Тестовая страница</h1>
<p>Тестируем Jquery вроде как.</p>
{{#section "jquery"}}
	<script>
		$("document").ready(function(){
			$("h1").html("Jquery работает")
		})
	</script>
{{/section}}